{% extends "layout.html" %}
{% block body %}
<link href="/static/main.css" rel="stylesheet" type="text/css" />

<script type=text/javascript>
$(function () {
    var submitWord = function(e) {
	// get text from the input field, replace spaces with underscores, send
	// to the server and update 'result' with whatever comes back.  
	// (Some lemmas in the db are multi-word phrases.)
	var input_text = $('input[name="submit_field"]').val()
	$.getJSON(
	    $SCRIPT_ROOT + "/_aj",                  // url
	    { word: input_text.replace(" ", "_") }, // data to server
	    function(data) {
		$('#result').text(data.result);
	    });                                     // success function
	    return false;
    }; 
    $('button#input_button').bind('click', submitWord);
});
</script>

<div class="sizer">
  <h2 style="text-align:center; text-decoration:underline;">Dalek Translator</h2>
  <input type=text size=30 style="display: block; margin: 0 auto;" name=submit_field> 
  <br>
  <button type="button" id=input_button style="display: block; margin: 0 auto;">How would a Dalek say it?</button>
  <br>
  <h1 id=result style="text-align:center;">???</h1>
  <br>
  <div style="text-align:center"><a href="/about" >(about)</a></div>
</div>
{% endblock %}
